 .flex-container {
   display: -webkit-flex;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   -webkit-flex-direction: row;
   flex-direction: row;
 }

 .mainbar {
   flex-basis: 66.667%;
 }

.sidebar {
   flex-basis: 33.333%;
 }

 .resourcelink {
  padding-bottom: 18px;
  font-size: 20px;
}