#shell {
    padding-top: 50px; 
}

#filter {
    margin-left: 35px;
}

.filter_gap {
    margin-right: 10px;
}

.contributor {
    margin: auto;
    text-align: center;
}

.contributorHeader {
    display: inline-flex;
}

#top3label {
    padding-left: 15px;
    padding-right: 15px;
}