/*.threadContainer {
  padding: 10px;
  margin: 10px;
  width: 440px;
  border: 1px solid green;
}*/
/*.card-panel{
  text-align: center;
}*/

.threadItem {
  padding: 5px;
  /*border: 1px solid black;*/
}

.threadContent {
  padding: 3px;
  /*border: 1px solid black;*/
  display: inline-block;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.details > span {
  margin: 4px;
  font-size: 15px;
}
