.info {
  font-size: 12px;
  font-weight: bold;
}

.post {
    padding: 5px;
}

.link {
  font-size: 20px;
}

.truncate {
  padding:0px;
  margin:0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}