
.threadItem {
  padding: 15px;
  /*border: 1px solid black;*/
}

.threadContent {
  padding: 3px;
  width: 700px;
  /*border: 1px solid black;*/
  display: inline-block;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.desc {
  height: 150px;
  width: 720px;
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: rebeccapurple;
  overflow: overlay;
}

.details > span {
  margin: 4px;
  font-size: 15px;
}
