.textfield {
    margin: 0 auto;
    width: '80%';
}

.titleheading {
    margin: 0 auto;
}

.interviewForm {

      /*margin-left: '250px';
      margin-right: '250px';
      */

      padding: 100px;
}

.question {
    margin-left: 50px;
    margin-right: 50px;
}

.answer {
    margin-left: 50px;
    margin-right: 50px;
}

#head {
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}

#topic {
    margin-bottom: 30px;
}

#titlee {
    margin-left: 50px;
    margin-right: 50px;
}
